In [1]:
import pandas as pd
import ta

In [2]:
tsla = pd.read_csv("TSLA.csv", usecols=['Close'])
tsla['RSI'] = ta.momentum.RSIIndicator(tsla['Close'], window=7).rsi()
tsla['BBBuy'] = ta.volatility.BollingerBands(tsla['Close'], window=80, window_dev=1.9).bollinger_lband()
tsla['BBSell'] = ta.volatility.BollingerBands(tsla['Close'], window=30, window_dev=1).bollinger_hband()
tsla['MACDLine'] = ta.trend.MACD(tsla['Close']).macd()
tsla['MACDSignal'] = ta.trend.MACD(tsla['Close']).macd_signal()
tsla['SMA5'] = ta.trend.SMAIndicator(tsla['Close'], window=5).sma_indicator() 
tsla['SMA15'] = ta.trend.SMAIndicator(tsla['Close'], window=15).sma_indicator() 
tsla['SMA30'] = ta.trend.SMAIndicator(tsla['Close'], window=30).sma_indicator() 
tsla['SMA40'] = ta.trend.SMAIndicator(tsla['Close'], window=40).sma_indicator()
tsla['SMA100'] = ta.trend.SMAIndicator(tsla['Close'], window=100).sma_indicator()
tsla

,Close,RSI,BBBuy,BBSell,MACDLine,MACDSignal,SMA5,SMA15,SMA30,SMA40,SMA100
0,4.778000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.766000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.392000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.840000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.222000,NaN,NaN,NaN,NaN,NaN,4.199600,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2958,1099.569946,86.730463,762.432347,971.446627,48.502172,18.103956,1043.015979,920.554651,883.497658,888.948744,981.163596
2959,1093.989990,84.078060,761.452579,984.760526,54.309261,25.345017,1061.991980,936.222652,889.216325,893.017244,979.804395
2960,1077.599976,76.102484,760.814490,995.580617,56.932601,31.662534,1074.727979,952.175985,894.356657,897.315744,978.359495
2961,1084.589966,77.179563,760.325897,1008.038752,58.896725,37.109372,1089.517969,971.458651,901.297990,902.151993,977.575995
2962,1145.449951,84.346211,758.522795,1025.903506,64.619308,42.611359,1100.239966,996.730648,910.913656,907.705241,978.795495

In [3]:
tsla.to_csv("NewFileTSLA")

In [4]:
print(tsla)

            Close        RSI       BBBuy       BBSell   MACDLine  MACDSignal  \
0        4.778000        NaN         NaN          NaN        NaN         NaN
1        4.766000        NaN         NaN          NaN        NaN         NaN
2        4.392000        NaN         NaN          NaN        NaN         NaN
3        3.840000        NaN         NaN          NaN        NaN         NaN
4        3.222000        NaN         NaN          NaN        NaN         NaN
...           ...        ...         ...          ...        ...         ...
2958  1099.569946  86.730463  762.432347   971.446627  48.502172   18.103956
2959  1093.989990  84.078060  761.452579   984.760526  54.309261   25.345017
2960  1077.599976  76.102484  760.814490   995.580617  56.932601   31.662534
2961  1084.589966  77.179563  760.325897  1008.038752  58.896725   37.109372
2962  1145.449951  84.346211  758.522795  1025.903506  64.619308   42.611359

             SMA5       SMA15       SMA30       SMA40      SMA100
0             NaN         NaN         NaN         NaN         NaN
1             NaN         NaN         NaN         NaN         NaN
2             NaN         NaN         NaN         NaN         NaN
3             NaN         NaN         NaN         NaN         NaN
4        4.199600         NaN         NaN         NaN         NaN
...           ...         ...         ...         ...         ...
2958  1043.015979  920.554651  883.497658  888.948744  981.163596
2959  1061.991980  936.222652  889.216325  893.017244  979.804395
2960  1074.727979  952.175985  894.356657  897.315744  978.359495
2961  1089.517969  971.458651  901.297990  902.151993  977.575995
2962  1100.239966  996.730648  910.913656  907.705241  978.795495

[2963 rows x 11 columns]