In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

In [2]:
tsla = pd.read_csv("FinalDataFrame.csv")
tsla = tsla.drop('Unnamed: 0', 1)
tsla

          Closing   RSI MACD    BB  SMA1 SMA2 Decision
0        5.978000  Hold  Buy  Hold   Buy  Buy      Yes
1        6.198000  Sell  Buy  Hold   Buy  Buy      Yes
2        6.680000  Sell  Buy  Hold   Buy  Buy      Yes
3        6.914000  Sell  Buy  Hold   Buy  Buy      Yes
4        7.094000  Sell  Buy  Hold   Buy  Buy      Yes
...           ...   ...  ...   ...   ...  ...      ...
2858  1099.569946  Sell  Buy  Hold  Sell  Buy      Yes
2859  1093.989990  Sell  Buy  Hold  Sell  Buy      Yes
2860  1077.599976  Sell  Buy  Hold  Sell  Buy      Yes
2861  1084.589966  Sell  Buy  Hold  Sell  Buy      Yes
2862  1145.449951  Sell  Buy  Hold  Sell  Buy      Yes

[2863 rows x 7 columns]

In [3]:
df = pd.DataFrame()

In [4]:
RSI = []
BB = []
MACD = []
SMA1 = []
SMA2 = []
Decision = []
for i in range(0, 2863):
    
    if tsla.iloc[i,6] == 'Yes':
        Decision.append(1)
    else:
        Decision.append(0)
        
    if tsla.iloc[i,1] == 'Buy':
        RSI.append(1)
    elif tsla.iloc[i,1] == 'Sell':
        RSI.append(-1)
    else:
        RSI.append(0)
        
    if tsla.iloc[i,3] == 'Buy':
        BB.append(1)
    elif tsla.iloc[i,3] == 'Sell':
        BB.append(-1)
    else:
        BB.append(0)
        
    if tsla.iloc[i,2] == 'Buy':
        MACD.append(1)
    else:
        MACD.append(-1)
        
    if tsla.iloc[i,4] == 'Buy':
        SMA1.append(1)
    else:
        SMA1.append(-1)
    
    if tsla.iloc[i,5] == 'Buy':
        SMA2.append(1)
    else:
        SMA2.append(-1)
        
df["RSI"] = RSI
df["MACD"] = MACD
df["BB"] = BB
df["SMA1"] = SMA1
df["SMA2"] = SMA2
df["Decision"] = Decision

In [5]:
df

      RSI  MACD  BB  SMA1  SMA2  Decision
0       0     1   0     1     1         1
1      -1     1   0     1     1         1
2      -1     1   0     1     1         1
3      -1     1   0     1     1         1
4      -1     1   0     1     1         1
...   ...   ...  ..   ...   ...       ...
2858   -1     1   0    -1     1         1
2859   -1     1   0    -1     1         1
2860   -1     1   0    -1     1         1
2861   -1     1   0    -1     1         1
2862   -1     1   0    -1     1         1

[2863 rows x 6 columns]

In [6]:
df.to_csv("kNNDataFrame")

In [7]:
X = df.iloc[:, 0:5]
Y = df.iloc[:, 5]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, shuffle = False)

In [8]:
X_train

      RSI  MACD  BB  SMA1  SMA2
0       0     1   0     1     1
1      -1     1   0     1     1
2      -1     1   0     1     1
3      -1     1   0     1     1
4      -1     1   0     1     1
...   ...   ...  ..   ...   ...
2285   -1     1   0     1     1
2286   -1     1   0     1     1
2287   -1     1   0     1     1
2288   -1     1   0     1     1
2289   -1     1   0     1     1

[2290 rows x 5 columns]

In [9]:
X_test

      RSI  MACD  BB  SMA1  SMA2
2290   -1     1   0     1     1
2291   -1     1   0     1     1
2292    0     1   0     1     1
2293    0     1   0     1     1
2294   -1     1   0     1     1
...   ...   ...  ..   ...   ...
2858   -1     1   0    -1     1
2859   -1     1   0    -1     1
2860   -1     1   0    -1     1
2861   -1     1   0    -1     1
2862   -1     1   0    -1     1

[573 rows x 5 columns]

In [10]:
Y_train

0       1
1       1
2       1
3       1
4       1
       ..
2285    1
2286    1
2287    1
2288    1
2289    1
Name: Decision, Length: 2290, dtype: int64

In [11]:
Y_test

2290    1
2291    1
2292    1
2293    1
2294    1
       ..
2858    1
2859    1
2860    1
2861    1
2862    1
Name: Decision, Length: 573, dtype: int64

In [12]:
import math
k = int(math.sqrt(len(X_test)))
if k%2 != 1:
    k += 1
k

23

In [13]:
classifier = KNeighborsClassifier(n_neighbors=k, p=2, metric='euclidean')

In [14]:
classifier.fit(X_train, Y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=23)

In [15]:
classifier.score(X_test, Y_test)

0.6561954624781849

In [16]:
Y_pred = classifier.predict(X_test)
print(len(Y_pred))
Y_pred

573

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1], dtype=int64)

In [17]:
cm = confusion_matrix(Y_test, Y_pred)
cm

array([[146,  37],
       [160, 230]], dtype=int64)

In [18]:
acc = accuracy_score(Y_test, Y_pred)
acc

0.6561954624781849

In [19]:
pres = precision_score(Y_test, Y_pred)
pres

0.8614232209737828

In [20]:
f1 = f1_score(Y_test, Y_pred)
f1

0.700152207001522

In [21]:
recall = recall_score(Y_test, Y_pred)
recall

0.5897435897435898