In [2]:
import pandas as pd
import chefboost as chef

In [4]:
tsla = pd.read_csv("NewFileTSLA.csv")
tsla

,Unnamed: 0,Close,RSI,BBBuy,BBSell,MACDLine,MACDSignal,SMA5,SMA15,SMA30,SMA40,SMA100,Decision
0,0,4.778000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
1,1,4.766000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
2,2,4.392000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
3,3,3.840000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
4,4,3.222000,NaN,NaN,NaN,NaN,NaN,4.199600,NaN,NaN,NaN,NaN,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2958,2958,1099.569946,86.730463,762.432347,971.446627,48.502172,18.103956,1043.015979,920.554651,883.497658,888.948744,981.163596,Yes
2959,2959,1093.989990,84.078060,761.452579,984.760526,54.309261,25.345017,1061.991980,936.222652,889.216325,893.017244,979.804395,Yes
2960,2960,1077.599976,76.102484,760.814490,995.580617,56.932601,31.662534,1074.727979,952.175985,894.356657,897.315744,978.359495,Yes
2961,2961,1084.589966,77.179563,760.325897,1008.038752,58.896725,37.109372,1089.517969,971.458651,901.297990,902.151993,977.575995,Yes
2962,2962,1145.449951,84.346211,758.522795,1025.903506,64.619308,42.611359,1100.239966,996.730648,910.913656,907.705241,978.795495,Yes

In [13]:
df = pd.DataFrame()

In [15]:
RSI = []
BB = []
MACD = []
SMA1 = []
SMA2 = []
Closing = []
Decision = []
for i in range(100, 2963):
    Closing.append(tsla.iloc[i,1])
    Decision.append(tsla.iloc[i,12])
    if tsla.iloc[i,2] > 75:
        RSI.append("Sell")
    elif tsla.iloc[i,2] <25:
        RSI.append("Buy")
    else:
        RSI.append("Hold")
        
    if tsla.iloc[i,3] > tsla.iloc[i,1]:
        BB.append("Buy")
    elif tsla.iloc[i,4] > tsla.iloc[i,1]:
        BB.append("Sell")
    else:
        BB.append("Hold")
        
    if tsla.iloc[i,5] > tsla.iloc[i,6]:
        MACD.append("Buy")
    else:
        MACD.append("Sell")
        
    if tsla.iloc[i,9] > tsla.iloc[i,11]:
        SMA1.append("Buy")
    else:
        SMA1.append("Sell")
    
    if tsla.iloc[i,8] > tsla.iloc[i,10]:
        SMA2.append("Buy")
    else:
        SMA2.append("Sell")
        
df["Closing"] = Closing
df["RSI"] = RSI
df["MACD"] = MACD
df["BB"] = BB
df["SMA1"] = SMA1
df["SMA2"] = SMA2
df["Decision"] = Decision

In [12]:
tsla.iloc[2962,12]

'Yes'

In [17]:
df.to_csv("FinalDataFrame")